# Copyright 2024. Huawei Technologies Co.,Ltd. All rights reserved.

platform_configs {
    key: "tensorflow"
    value {
        source_adapter_config {
            [type.googleapis.com/tensorflow.serving.SavedModelBundleSourceAdapterConfig] {
                legacy_config {
                    session_config {
                        graph_options {
                            rewrite_options {
                                custom_optimizers {
                                    name: "NpuOptimizer"
                                    parameter_map: {
                                        key:"use_off_line"
                                        value:{
                                            b:true
                                        }
                                    }
                                    parameter_map: {
                                        key:"mix_compile_mode"
                                        value:{
                                            b:true
                                        }
                                    }
                                    parameter_map: {
                                        key:"variable_placement"
                                        value:{
                                            s:"Host"
                                        }
                                    }
                                    parameter_map: {
                                        key:"graph_run_mode"
                                        value:{
                                            i:0
                                        }
                                    }
                                    parameter_map: {
                                        key:"precision_mode"
                                        value:{
                                            s:"must_keep_origin_dtype"
                                        }
                                    }
                                    parameter_map: {
                                        key:"in_out_pair"
                                        value:{
                                            s:"#value@in_out_pair#"
                                        }
                                    }
                                }
                                remapping: OFF
                            }
                        }
                    }
                }
            }
        }
    }
}